.Main {
  display: flex;
  justify-content: center;
  justify-items: center;
  max-height: 100vh;
  width: 100%;
}

.Box {
  background-color: #0000007d;
  backdrop-filter: blur(.15rem);
  border: 5px double #4d97ffbe;
  border-radius: 15px;
  padding: 4px;
  margin: 10px;
  height: 150px;
  width: 1200px;
}

.Flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
}

.Text {
  font-size: 18px;
  margin: 4px 0 0 5px;
  color: #fff;
}


.Tag {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 70px;
  padding: 10px;
  margin: 45px 10px 45px 0;
  background-color: #0000007d;
  backdrop-filter: blur(.15rem);
  border: 2px solid #fff;
  border-radius: 10px;
}

.Icon {
  font-size: 16px;
  margin: 10px 0 0 5px;
  fill: #fff;
}

.Description {
  font-size: 16px;
  color: #fff;
  margin: 6px 0 0 5px;
}

.Button {
  width: max-content;
  margin: 21px 0 4px 5px;
  padding: .75rem 1.2rem;
  border-radius: 10px;
  transition: all 400ms ease;
  transform: transition .2s;
  cursor: pointer;
  color: #4d97ff;
  background-color: #fff;
}

.Button:hover {
  background: #ededed;
}