
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #000;
  line-height: 1.7;
  background-image: url(./assets/sky.jpg);
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #0000007d;
  backdrop-filter: blur(.2rem);
}

.title_principal {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 1200px;
}

.launches {
  width: 100%;
  margin: 0;
  background-image: linear-gradient(
    transparent 12%,
    currentColor 30%,
    currentColor 70%,
    transparent 86%,
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
}

.launches p {
  margin: 20px 0;
  color: transparent;
}
